.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 520px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.wc-modal-shipping-method-settings form .form-table tr td input[type=checkbox] {
    min-width: 15px !important;
}

.flexipaas_boxes .small {
    width: 25px !important;
    min-width: 25px !important;
}

.flexipaas_boxes td,
.flexipaas_services td {
    vertical-align: middle;
    padding: 4px 7px;
}

.flexipaas_services th,
.flexipaas_boxes th {
    padding: 9px 7px;
}

.flexipaas_boxes td input {
    margin-right: 4px;
}

.flexipaas_boxes .check-column {
    vertical-align: middle;
    text-align: left;
    padding: 0 7px;
}

.flexipaas_services th.sort {
    width: 16px;
    padding: 0 16px;
}

.flexipaas_services td.sort {
    cursor: move;
    width: 16px;
    padding: 0 16px;
    cursor: move;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHUlEQVQYV2O8f//+fwY8gJGgAny6QXKETRgEVgAAXxAVsa5Xr3QAAAAASUVORK5CYII=) no-repeat center;
}
 