 #order_sucursal_main h3 {
     text-align: left;
     padding: 5px 0 5px 115px;
 }

 .andreani-logo {
     position: absolute;
     margin: 0px;
 }

 h3.title-selector-andreani {
     font-size: 15px;
 }